[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	br = branch
	brd = branch -d
	brD = branch -D
	merged = branch --merged
	st = status
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit -m
	cp = cherry-pick
	amend = commit --amend -m
	dev = !git checkout dev && git pull origin dev
	staging = !git checkout staging && git pull origin staging
	master = !git checkout master && git pull origin 
	po = push origin
	pod = push origin dev
	pos = push origin staging
	pom = push origin master
	poh = push origin HEAD
	plo = pull origin
	plod = pull origin dev
	plom = pull origin master
	ploh = pull origin HEAD
	unstage = reset --soft HEAD^
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	f = "!git ls-files | grep -i"
	gr = grep -Ii
	la = "!git config -l | grep alias | cut -c 7-"
[user]
	name = RaduM
	email = u5yyfh@splm.siemens.com
[core]
	autocrlf = false
